
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  }
h2,
h3 {
  margin: 10px;
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
p {
  margin: 10px;
}
table {
  margin: 8px;
}
.cell {
  width: 310px;
}
.map-overlay {
  position: relative;
  background: #fff;
  margin-left: 20px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
  display: inline-block;
  min-width: 400px;
}

.view {    /*  all */
  position: absolute;
  top: 46px;
  bottom: 0;
  width: 100%;
}

.text-in {
  text-align: right;
}

.leg-abitur {
  width: 250px;
  height: 20px;
  background-image: linear-gradient(to right, #b0e0e6, #62ccec, #00b3fa, #0095ff, #006fff, #0055f8, #0038ee, #0000e1, #0000cb, #0000b5, #0000a0, #00008b);
}
.leg-stud {
  width: 250px;
  height: 20px;
  background-image: linear-gradient(to right, #b4df5d, #98cd4c, #7dbb3c, #60a92c, #42971b, #328d13, #1f8309, #007900, #007400, #006e00, #006900, #006400);
}
.leg-ratio {
  width: 250px;
  height: 20px;
  background-image: linear-gradient(to right, #ffff00, #dfec00, #c0d900, #a3c600, #88b300, #75a600, #639900, #518c00, #418300, #307900, #1d6f00, #006600);
}
.leg-population {
  /* width: 250px;
  height: 20px; */
  background-image: linear-gradient(to right, #ccffff, #00deff, #00b5ff, #007fff, #6600ff);
}
.leg-income {
  width: 250px;
  height: 20px;
  background-image: linear-gradient(to right, #ffd700, #ffac00, #ff7f15, #f2512c, #dc143c);
}
.leg-social {
  width: 250px;
  height: 20px;
  background-image: linear-gradient(to right, #fed943, #d7ca2f, #b1ba1e, #8caa0d, #669900);
}


/* Style the tab */
/* .tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
} */

/* Style the buttons inside the tab */
/* .tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
} */

/* Change background color of buttons on hover */
/* .tab button:hover {
background-color: #ddd;
} */

/* Create an active/current tablink class */
/* .tab button.active {
background-color: #ccc;
} */

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

.tabright {
  position: relative;
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* #map { position: absolute; top: 0; bottom: 0; width: 100%; } */

.menu {
  background: #fff;
  position: relative;
  display: inline-block;
  /* z-index: 1; */
  /* top: 70px;
  left: 78%;
  margin-left: 20px; */
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 3px;
  /* width: 120px; */
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  font-family: Arial, sans-serif;
}

.menu a {
  font-size: 13px;
  color: #404040;
  display: inline-block;
  margin-right: 20px;
  padding: 0;
  padding: 5px;
  text-decoration: none;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.25); */
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

/* #menu a:last-child {
  border: none;
} */

.menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
  border-radius: 3px;
}

.menu a.active {
  background-color: #B22222;
  color: #ffffff;
  border-radius: 3px;
}

.menu a.active:hover {
  background: #8B0000;
  border-radius: 3px;
}

/* turn on off */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 23px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider.future  {
  background-color: #0729b2;
}

input:focus + .slider.future {
  box-shadow: 0 0 1px #0729b2;
}

input:checked + .slider.past {
  background-color: #fa5252;
}

input:focus + .slider.past {
  box-shadow: 0 0 1px #fa5252;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 23px;
}

.slider.round:before {
  border-radius: 50%;
}


/* POP UP */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 10px;
  background: #fff;
  border-radius: 3px;
  /* width: 60%; */
  /* display: inline-block; */
  overflow: auto;
  position: relative;
  transition: all 5s ease-in-out;
}


.popup h2 {
  margin: 0;
  margin-bottom: 10px;
  /* padding: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif; */
}
.popup .close {
  position: absolute;
  top: 0;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.popup .close:hover {
  color: #f00;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  padding: 10px;
}

.popup .content table{
  margin: 0;
  border: 1px solid #000;
  border-collapse: collapse;
  /* width: 80%; */
}

.popup .content TD, TH {
  padding: 3px; /*Поля вокруг содержимого таблицы */
  border: 1px solid black; /* Параметры рамки */
 }

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.popup .content a {
  text-decoration: none;
}

.popup .content a:hover {
  text-decoration: underline;
}

/* Legend */

.my-legend {
  position: absolute;
  top: 85%;
  right: 3%;
  /* left: 78%; */
  background: #fff;
  /* margin-left: 20px;
  margin-top: 20px; */
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
  display: inline-block;
}

.my-legend .legend-scale ul {
  margin: 0;
  padding: 10px;
  float: left;
  list-style: none;
  }
.my-legend .legend-scale ul li {
  display: block;
  float: left;
  width: 50px;
  /* margin-bottom: 6px; */
  text-align: center;
  font-size: 90%;
  list-style: none;
  }
.my-legend ul.legend-labels li span {
  display: block;
  border: 1px solid #000;
  float: left;
  height: 15px;
  width: 50px;
  }


/* download button */

.btn {
  /* position: relative; */
  border: 2px solid black;
  background-color: white;
  color: black;
  /* padding: 14px 28px; */
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  display: inline-block;
}

/* Blue */
.info {
  border-color: #2196F3;
  color: black
}

.info:hover {
  background: #e7e7e7;
  color: black;
}

.downloadExcel {
  margin-left: 10px;

}