
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  }
h2,
h3 {
  margin: 10px;
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
p {
  margin: 10px;
}
table {
  margin: 8px;
}
.cell {
  width: 310px;
}
.map-overlay {
  position: relative;
  background: #fff;
  margin-left: 20px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
  display: inline-block;
}

.view {    /*  all */
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}

/* #features {
  display: none;
} */

/* #legend {
  position: absolute;
  top: 70%;
  left: 87%;
  height: 30px;
  width: 150px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-color: #66c4c7;
  border-style: solid;
} */

.leg-overlay {
  position: absolute;
  top: 85%;
  left: 78%;
  background: #fff;
  margin-left: 20px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
  display: inline-block;
  /* border-color: #66c4c7;
  border-style: solid; */
}
.text-in {
  text-align: right;
}

.leg-abitur {
  width: 250px;
  height: 20px;
  background-image: linear-gradient(to right, #b0e0e6, #62ccec, #00b3fa, #0095ff, #006fff, #0055f8, #0038ee, #0000e1, #0000cb, #0000b5, #0000a0, #00008b);
}
.leg-stud {
  width: 250px;
  height: 20px;
  background-image: linear-gradient(to right, #b4df5d, #98cd4c, #7dbb3c, #60a92c, #42971b, #328d13, #1f8309, #007900, #007400, #006e00, #006900, #006400);
}
.leg-ratio {
  width: 250px;
  height: 20px;
  background-image: linear-gradient(to right, #ffff00, #dfec00, #c0d900, #a3c600, #88b300, #75a600, #639900, #518c00, #418300, #307900, #1d6f00, #006600);
}
.leg-population {
  width: 250px;
  height: 20px;
  background-image: linear-gradient(to right, #ccffff, #00deff, #00b5ff, #007fff, #6600ff);
}
.leg-income {
  width: 250px;
  height: 20px;
  background-image: linear-gradient(to right, #ffd700, #ffac00, #ff7f15, #f2512c, #dc143c);
}
.leg-social {
  width: 250px;
  height: 20px;
  background-image: linear-gradient(to right, #fed943, #d7ca2f, #b1ba1e, #8caa0d, #669900);
}


/* Style the tab */
.tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #ccc;
}

/* Style the tab content */
/* .tabcontent {
display: none;
/* padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
} */

.navbar {
  overflow: hidden;
  background-color: #333;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-1 {
  float: left;
  overflow: hidden;
}

.dropdown-1 .dropbtn-1 {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* #map { position: absolute; top: 0; bottom: 0; width: 100%; } */

.menu {
  background: #fff;
  position: relative;
  display: inline-block;
  /* z-index: 1; */
  /* top: 70px;
  left: 78%;
  margin-left: 20px; */
  margin-left: 10px;
  border-radius: 3px;
  /* width: 120px; */
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  font-family: Arial, sans-serif;
}

.menu a {
  font-size: 13px;
  color: #404040;
  display: inline-block;
  margin-right: 20px;
  padding: 0;
  padding: 5px;
  text-decoration: none;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.25); */
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

/* #menu a:last-child {
  border: none;
} */

.menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
  border-radius: 3px;
}

.menu a.active {
  background-color: #B22222;
  color: #ffffff;
  border-radius: 3px;
}

.menu a.active:hover {
  background: #8B0000;
  border-radius: 3px;
}